<div class="sh-head">
  <nav class="sh-navbar inner">
    <div class="sh-navbar-left">
      <a href="/" class="sh-nav-logo sh-navbar-item">
        {% svg_inline "images/header-logo.svg" %}
      </a>
      <a class="sh-navbar-item" href="/jasa">Jasa</a>
      <a class="sh-navbar-item" href="/toko">Toko</a>
    </div>

    <div class="sh-navbar-right">
      <a href="/toko" class="sh-navbar-item">About</a>
      <a class="sh-navbar-btn sh-btn" href="/auth" id="signin-button"><span>Sign in</span></a>
    </div>
  </nav>
</div>
